*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  /* General app defaults */
  --default-font-color: #777;
  --default-font-size: 62.5%;
  --body-padding: 3rem;

  /* Header defaults */
  --header-height: 95vh;
  --header-grad-lightgreen: #7ed56fc0;
  --header-grad-darkgreen: #28b485c0;
  --heading-line-height: 1.7;
  --heading-font-weight: 400;
  --background-image: url(../img/hero.jpg);
  

  /* Header Logo */
  --header-logo-spacing: 4rem;
  --header-logo-height: 3.5rem;

  /* Header Primary */
  --heading-primary-margin: 6rem;
  --heading-primary-font-size: 6rem;
  --heading-primary-font-weight: 400;
  --heading-primary-letter-spacing: 3.5rem;
  --heading-primary-font-color: #ffffff;

  /* Header Sub */
  --heading-sub-font-size: 2rem;
  --heading-sub-font-weight: 700;
  --heading-sub-letter-spacing: 1.75rem;
  
  /* Header Btn  */
  --header-btn-padding: 1rem;
  --header-btn-radius: 10rem;
  --header-btn-font-size: 1.6rem;
  --header-btn-box-shad: 1rem;
}

/* KEYFRAMES */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateY(-15rem)
  }

  50% {
    color: var(--default-font-color)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem)
  }

  50% {
    color: var(--default-font-color);
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

html {
  font-size: var(--default-font-size);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: var(--default-font-weight);
  line-height: var(--default-line-height);
  color: var(--default-font-color);
  padding: var(--body-padding);
  box-sizing: border-box;
}

/* HEADER CONTAINER */

.header {
  height: var(--header-height); 
  background-image: linear-gradient(to right bottom, var(--header-grad-lightgreen), var(--header-grad-darkgreen)), var(--background-image);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

/* HEADER LOGO */

.header__logo-box {
  position: absolute;
  top: var(--header-logo-spacing);
  left: var(--header-logo-spacing);
}

.header__logo {
  height: var(--header-logo-height);
}

/* HEADER TITLE */

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: var(--heading-primary-font-color);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: var(--heading-primary-margin);
  text-align: justify;
}

.heading-primary--main {
  display: block;
  font-size: var(--heading-primary-font-size);
  font-weight: var(--heading-primary-font-weight);
  letter-spacing: var(--heading-primary-letter-spacing);
  animation: moveInLeft 2s ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: var(--heading-sub-font-size);
  font-weight: var(--heading-sub-font-weight);
  letter-spacing: var(--heading-sub-letter-spacing);
  animation: moveInRight 1s ease-in;
}

/* HEADER BUTTON */

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: calc(var(--header-btn-padding) * 1.5) calc(var(--header-btn-padding) * 4);
  display: inline-block;
  border-radius: var(--header-btn-radius);
  transition: all .2s;
  position: relative;
  font-size: var(--header-btn-font-size);
}

.btn:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 var(--header-btn-box-shad) calc(var(--header-btn-box-shad) * 2) rgba(0, 0, 0, .2);
}

.btn:active {
  transform: translate(-.1rem);
  box-shadow: 0 calc(var(--header-btn-box-shad) * .5) var(--header-btn-box-shad) rgba(0, 0, 0, .2);
}

.btn--white {
  background-color: var(--heading-primary-font-color);
  color: var(--default-font-color);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: var(--header-btn-radius);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn--white::after {
  background-color: var(--heading-primary-font-color);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 1s ease-in 1s;
  animation-fill-mode: backwards;
}

